@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary-color: #FFCC00;
  --primary-blue-color: #060CE9;
  --secondary-blue-color:  rgb(0, 5, 158);

}

.primary-button {
  background-color: var(--secondary-blue-color);
  color: var(--primary-color);
  font-size: 3.5rem;
  padding: 20px 30px;

}

.primary-button:hover {
  background-color: rgb(52, 52, 66);
}

.board-link {
  
  color: white;
  font-size: 2.5rem;

}

