@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .create-board-form label {
    @apply text-6xl text-primary mb-5
  }
  .create-board-form input {
    @apply text-6xl text-black mb-5 px-2
  }
  .create-board-form button {
    @apply text-6xl text-primary mb-5 outline-dashed
  }
  .create-board-form button:hover {
    @apply text-6xl text-primary mb-5 outline
  }
}

:root, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --primary-color: #FFCC00;
  --primary-blue-color: #060CE9;
  --secondary-blue-color:  rgb(0, 5, 158);

}

.primary-button {
  background-color: var(--secondary-blue-color);
  color: var(--primary-color);
  font-size: 3.5rem;
  padding: 20px 30px;

}

.primary-button:hover {
  background-color: rgb(52, 52, 66);
}

.board-link {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
  padding: 10px 50px;
  transition: all 0.2s ease-in-out;
}

.board-link:hover {
  color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.board-link:nth-child(even) {
  background-color: rgb(91, 91, 101);
}

.board-link:nth-child(odd) {
  background-color: rgb(52, 52, 66);
}

